<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://ec2-52-64-181-12.ap-southeast-2.compute.amazonaws.com/</MSDeployServiceURL>
    <DeployIisAppPath>AlaChat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AlaChatEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;Application Name=EntityFramework" Name="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlaChat.AlaChatEntities, AlaChat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AlaChatContext" Order="2" Enabled="False">
          <Destination Path="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;Application Name=EntityFramework" Name="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlaChat.Models.AlaChatContext, AlaChat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;Application Name=EntityFramework" Name="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlaChat.Models.ApplicationDbContext, AlaChat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlaChatContext-Web.config Connection String">
      <ParameterValue>Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlaChatEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AlaEntities.csdl|res://*/AlaEntities.ssdl|res://*/AlaEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=umer-sqlserver.c1saiwm6anhy.ap-southeast-2.rds.amazonaws.com,1433;Initial Catalog=AlaChat;User ID=admin;Password=abcd1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>